body {
  margin: 0;
}

/* Nav bar styling */

.nav-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(34, 34, 34);
  margin: 0;
  background-color: black;
  position: fixed;
  z-index: 100;
}

.nav-btns-container {
  width: 60%;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  /* background-color: aquamarine; turn on for editing */
}

.nav-btns-container a {
  font-size: 20px;
  font-family: sans-serif;
  margin: 0;
  transition: all ease 300ms;
  color: white;
  text-decoration: none;
}

.nav-btns-container a:hover {
  color: springgreen;
  cursor: pointer;
}

.nav-space-holder {
  width: 100%;
  height: 6vh;
  background-color: white;
}

/* Responsive Nav styling */

@media (max-width: 600px) {
  .nav-btns-container {
    width: 90%;
  }

  .nav-btns-container a {
    font-size: 18px;
  }
}

@media (min-width: 800px) {
  .nav-btns-container {
    width: 90%;
  }

  .nav-btns-container a {
    font-size: 24px;
  }
}

@media (max-height: 800px) {
  .nav-btns-container {
    /* height: 7vh; */
    width: 90%;
  }

  .nav-btns-container a {
    font-size: 22px;
  }
}

/* Responsive Nav styling */

/* Nav bar styling */




/* Blog post section styling */

.blog-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-post-wrapper {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 20px;
  /* border: 1pt solid black; */
}

.blog-post-title-wrapper {
  width: 80%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1pt solid blue; */
}

.blog-post-title-wrapper h2 {
  font-family: sans-serif;
  font-size: 32pt;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  color: rgb(0, 0, 0);
  padding: 2px;
  border-bottom: 1pt solid white;
  margin: 0;
}

.blog-post-title-wrapper hr {
  /* color: black; */
  width: 80%;
  border: 0.5px solid black;
  margin: 2%;
}

.blog-post-txt-wrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  margin: 20px;
  /* background-color: rgb(255, 255, 255); */
  /* border: 1px solid green; */
}

.post-questions {
width: 85%;
font-size: 22px;
font-family: sans-serif;
font-weight: bold;
text-align: left;
line-height: 1.6rem;
padding: 0.8rem;
border-radius: 12px;
color: white;
background-color: black;
margin: 10px;
}

.post-answers {
width: 85%;
font-size: 19px;
font-family: sans-serif;
font-weight: lighter;
text-align: left;
line-height: 1.7rem;
margin: 10px;
}

.post-answers-img {
  width: 800px;
  height: 350px;
}

.post-answers-img-sml {
  width: 260px;
  height: 260px;
}

/* Blog post responsive styling */

/* @media (max-width: 1000px) {

} */

/* Blog post responsive styling */


/* Blog post section styling */







/* Contact section styling */

.contact-container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 234, 234);
}

.contact-txt-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1pt solid black; */
}

.contact-txt-container h3 {
  font-family: sans-serif;
  font-size: 25pt;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  color: black;
  margin: 20px;
}

.contact-txt-container span {
  margin: 10px;
}

.contact-txt-container span p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 10px;
}

.contact-txt-container span p strong {
  /* text-decoration: underline; */
  font-size: 22px;
}

.contact-detail {
  text-decoration: underline;
  color: mediumblue;
}


/* Contact responsive styling */

@media (max-width: 1000px) {
  .contact-container {
    height: 70vh;
  }

  .contact-txt-container {
    width: 90%;
    height: 100%;
  }

}

/* Contact responsive styling */



/* Contact section styling */







/* footer section styling */

.footer-container {
  width: 100%;
  height: 6vh;
  background-color: black;
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer-container p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
  color: white;
  margin-right: 20px;
}


/* footer responsive styling */

/* @media (max-width: 1000px) {

} */

/* footer responsive styling */

/* footer section styling */
